{% extends 'base.html' %}

{% block content %}
<h2>Books in the Library</h2>
{% if books %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Available Quantity</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td>{{ book.book_id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.quantity }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No books available in the library.</p>
{% endif %}
{% endblock %}
